Source: mkat
Section: utils
Priority: optional
Maintainer: Dmitry Maksyoma <ledestin@amur.ru>
Build-Depends: debhelper (>> 4.0.0), cvs2cl
Standards-Version: 3.5.8

Package: mkat
Architecture: all
Depends: debconf (>=0.5), mkisofs, cdrecord, cdparanoia, cd-discid, liblockfile1
Suggests: autofs
Conflicts: burn
Description: CLI tools to burn, catalog data and audio CD-R[W]s
 mkat is a set of command line tools to burn, catalog audio and data
 CD-R[W]s and then search the catalog database, e.g. check if you have
 certain file or audio CD in your collection.
 .
 It is essentially a transparent frontend to cdrecord, mkisofs, etc.
